:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
    --title-font: 'Racing Sans One', sans-serif;
    --subtitle-font: 'Fira Sans', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    
}
nav, footer{
    color: var(--cf-light);
    
}

.bgBody{
    background-image: url(/img/LandingPage_576_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--cf-darkblue);
}
.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    
}
/*initial breakpoint: 375px(iPhone SE)*/
.subTitle{
    font-family: var(--subtitle-font);
    font-size: .9em;
    font-weight: 200;
    line-height: .6rem;
    letter-spacing: .01rem;
    color: var(--cf-light);
}
.title{
    font-family: var(--title-font);
    font-size: 2.2em;
    font-weight: 100;
    line-height: 1rem;
    letter-spacing: .01rem;
    color: var(--cf-light);
}
 /*Breakpts:
2560x500
1200x400
992x300
576x200
375x150*/

/*MEDIA QUERIES--*/
  /*small device (landscape phones 576px and up)*/
 @media (min-width: 575.98px) {
    .bgBody{
    background-image: url(/img/LandingPage_768.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: var(--cf-darkblue);
    }
    .subTitle{
        font-family: var(--subtitle-font);
        font-size: .8em;
        font-weight: 200;
        line-height: .5rem;
        letter-spacing: .01rem;
        
        
    }
    .title{
        font-family: var(--title-font);
        font-size: 1em;
        font-weight: 100;
        line-height: .5rem;
        letter-spacing: .5rem;
        
    }
    
}
@media (min-width: 767.98px) {
    .bgBody{
        background: url(/img/LandingPage_992.png), var(--cf-darkblue);
        background-position: top right;
        background-repeat: no-repeat;
    
        }

    .subTitle{
        font-family: var(--subtitle-font);
        font-size: .8em;
        font-weight: 100;
        line-height: 1rem;
        letter-spacing: .01rem;
    }
    .title{
        font-family: var(--title-font);
        font-size: 2em;
        font-weight: 100;
        line-height: 1rem;
        letter-spacing: .01rem;
    }
  }
@media (min-width: 991.98px) {
    .bgBody{
        background-image: url(/img/LandingPage_1200.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        }
    .subTitle{
        font-family: var(--subtitle-font);
        font-size: .85em;
        font-weight: 100;
        line-height: 0.5rem;
        letter-spacing: .01rem;
    }
    .title{
        font-family: var(--title-font);
        font-size: 2em;
        font-weight: 100;
        line-height: 1.2rem;
        letter-spacing: .01rem;
    }
}
@media (min-width: 1199.98px) {
    .bgBody{
        background-image: url(/img/LandingPage_1920.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        }
    .subTitle{
        font-family: var(--subtitle-font);
        font-size: 1.8em;
        font-weight: 100;
        line-height: 1.1rem;
        letter-spacing: .01rem;
    }
    .title{
        font-family: var(--title-font);
        font-size: 3em;
        font-weight: 100;
        line-height: 2rem;
        letter-spacing: .7rem;
    } 
}
@media (min-width: 1399.98px) {
    .bgBody{
        background-image: url(/img/LandingPage_1920.png);
        background-position: top right;
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        }
    .subTitle{
        font-family: var(--subtitle-font);
        font-size: 1.3em;
        font-weight: 100;
        line-height: 1.1rem;
        letter-spacing: .01rem;
    }
    .title{
        font-family: var(--title-font);
        font-size: 3em;
        font-weight: 100;
        line-height: 1.7rem;
        letter-spacing: .01rem;
    }
    }